<!DOCTYPE html>
<html>
    <head>
        <style> 
            h1 {text-align: center}
         </style>
        <title> My M&M site </title>
    </head>
    <body>
        <h1> My Money Manager</h1>

        <table style="width:100%">
            <tr>
              <th>Catergory</th>
              <th>Total Percentage Used</th>
              <th>Amount Spent</th>
            </tr>
            <tr>
              <td>Food</td>
              <td>Home</td>
            </tr>
            <tr>
              <td>Home</td>
              <td>percentage</td>
              <td>Mexico</td>
            </tr>
          </table>

    </body>
</html> 